---
layout: base
active: projects
title: Writing projects
---

<header>
  <h1>
    Projects
    <a href="/projects/feed.xml" class="rss-link">
      <span class="link-text">Subscribe via RSS</span>
      {% include rss_logo.svg %}
    </a>
  </h1>
</header>

<section class="projects-nav">
  <ul>
    <li><a href="/projects">All projects</a></li>
    <li><a href="/projects/bookdesign">Book design</a></li>
    <li><a href="/projects/photography">Photography</a></li>
    <li><a href="/projects/publishing">Publishing</a></li>
    <li><a href="/projects/software">Software</a></li>
    <li><a href="/projects/writing" class="active">Writing</a></li>
  </ul>
</section>

<section class="projects-grid">
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Writing'" %}
  {% assign sorted_projects = filtered_projects | sort: 'date' | reverse %}
  {% for project in sorted_projects %}
    <a class="project-card" style="background-image: url('{{ project.featured_image }}')" href="{{ project.url }}">
      <header>
        <h3>{{ project.title }}</h3>
        <p class="meta">{{ project.timespan }}</p>
      </header>
    </a>
  {% endfor %}
</section>
