---
layout: base
active: hire
title: For hire
description: Full-stack software engineer with 20 years of experience available for work! Clojure, Ruby, JS/TS, AI workflows, etc.
featured_image: /assets/images/hire/social.jpg
---

<section class="hire-page">
  <section class="double-column">
    <section class="col left-col">
      <figure>
        <img
          src="/assets/images/hire/profile.jpg"
          alt="Gosha Tcherednitchenko"
        />
        <figcaption>What you'll be dealing with. Photo by T.L.</figcaption>
      </figure>
    </section>
    <section class="text col right-col">
      <h1>Let’s work together!</h1>
      <p>
        I'm a <strong>full-stack software engineer</strong> with over
        <strong>20 years</strong> of experience.
      </p>
      <p>
        I am a true generalist: I am happiest when I can take ownership of
        problems and contribute across the entire stack, without being siloed to
        a specific part of it. Backend, frontend, infra, UI, UX, building and
        mentoring engineering teams — I have done it all over the course of my
        career.
      </p>
      <p>
        I live in 🇬🇧 London with my 👩🏻 partner and 👧🏻 👶🏻 two kids. I can work in
        both the UK and in the EU, and do not require visa sponsorship.
      </p>
      <p>
        <strong>Currently, I am looking to join a company</strong> where I could
        work on hard problems, share what I know, and grow together with the
        team over the next many years.
      </p>
      <p>
        Please take a look at my past work and skills below, and reach out if
        you feel I would we would be a good fit.
      </p>

      <footer>
        <a href="https://cal.com/a.possible.space/30min" class="button"
          >👉 Book a 30-min call</a
        >
        <a href="#contact" class="button secondary">More contact options</a>
      </footer>
    </section>
  </section>
  <section class="projects">
    {% for project in site.data.hire.projects %}
    <article class="project-card">
      <figure class="project-image">
        <img
          src="{{ project.image }}"
          alt="{{ project.title }}"
          loading="lazy"
        />
      </figure>
      <div class="project-content">
        <h4>
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer"
            >{{ project.title }}</a
          >
          {% else %} {{ project.title }} {% endif %}
        </h4>
        <p class="project-meta">
          {% if project.company_link %}
          <a
            href="{{ project.company_link }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ project.company }}</a
          >
          {% else %} {{ project.company }} {% endif %} / {{ project.year }}
        </p>
        <p class="project-description">{{ project.description }}</p>
      </div>
    </article>
    {% endfor %}
  </section>

  <section class="skills">
    <header>
      <h2>Technologies & Skills</h2>
    </header>
    <div class="skills-container">
      {% for skill in site.data.hire.skills %}
      <span class="skill-pill">
        <span class="skill-icon">{{ skill.icon }}</span>
        {{ skill.name }}
      </span>
      {% endfor %}
    </div>
  </section>

  <section class="testimonials">
    <header>
      <h2>Testimonials</h2>
      <p>From 100% certified organic human people I have worked with:</p>
    </header>
    <div class="testimonials-columns">
      {% assign testimonials = site.data.hire.testimonials %}

      <div class="testimonial-column">
        {% for i in (0..2) %} {% assign testimonial = testimonials[i] %} {%
        include testimonial_card.html %} {% endfor %}
      </div>

      <div class="testimonial-column">
        {% for i in (3..5) %} {% assign testimonial = testimonials[i] %} {%
        include testimonial_card.html %} {% endfor %}
      </div>

      <div class="testimonial-column">
        {% for i in (6..8) %} {% assign testimonial = testimonials[i] %} {%
        include testimonial_card.html %} {% endfor %}
      </div>

      <div class="testimonial-column">
        {% for i in (9..11) %} {% assign testimonial = testimonials[i] %} {%
        include testimonial_card.html %} {% endfor %}
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <p>Do you feel I would be a good fit for your project? Let's talk.</p>
    <div class="contact-buttons">
      <a href="https://cal.com/a.possible.space/30min" class="button"
        >🤙 Book a 30-min call</a
      >
      <a href="mailto:gosha@gosha.net" class="button secondary">💌 Email me</a>
      <a
        href="/assets/pdf/gosha-tcherednitchenko-cv-2025.pdf"
        class="button secondary"
        >📄 Download my CV</a
      >
      <a
        href="https://linkedin.com/in/goshatch"
        target="_blank"
        rel="noopener noreferrer"
        class="button button-linkedin"
      >
        <svg
          aria-label="LinkedIn logo"
          width="16"
          height="16"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
        >
          <path
            fill="white"
            d="M26.111,3H5.889c-1.595,0-2.889,1.293-2.889,2.889V26.111c0,1.595,1.293,2.889,2.889,2.889H26.111c1.595,0,2.889-1.293,2.889-2.889V5.889c0-1.595-1.293-2.889-2.889-2.889ZM10.861,25.389h-3.877V12.87h3.877v12.519Zm-1.957-14.158c-1.267,0-2.293-1.034-2.293-2.31s1.026-2.31,2.293-2.31,2.292,1.034,2.292,2.31-1.026,2.31-2.292,2.31Zm16.485,14.158h-3.858v-6.571c0-1.802-.685-2.809-2.111-2.809-1.551,0-2.362,1.048-2.362,2.809v6.571h-3.718V12.87h3.718v1.686s1.118-2.069,3.775-2.069,4.556,1.621,4.556,4.975v7.926Z"
            fill-rule="evenodd"
          />
        </svg>
        Connect on LinkedIn
      </a>
    </div>
  </section>
</section>
