---
layout: project
title: Ramallah Moments
categories: ["Photography", "Writing"]
timespan: 2008
date: 2008-01-01
featured_image: /assets/images/projects/ramallah-moments/index_header.jpg
---

<article class="with-side-nav">
  {% include ramallah-moments-nav.html %}

  <div class="side-nav-content">
    <section>
      <p>
        Five moments in <a href="http://goo.gl/maps/9GVX">Ramallah</a>, West
        Bank, Palestinian Territories.
      </p>
      <p>
        Written after two days spent there in the month of January, 2008;
        revised and edited April, 2009.
      </p>
      <p>Further edits for publication on this website in September 2026:</p>
      <ul>
        <li>
          Masked the faces of people in the photographs, except for public
          figures;
        </li>
        <li>Fixed some spelling and grammar mistakes;</li>
        <li>Added <code>alt</code> tags to photographs;</li>
        <li>
          Otherwise left the text unchanged, including parts I would write
          differently today.
        </li>
      </ul>
    </section>
    <section>
      <p class="small">
        &mdash;<br />Thanks to Anna Leah Jacobson for the help in editing these.
      </p>
    </section>

    <hr />
    <figure>
      <img
        src="/assets/images/projects/ramallah-moments/index_header.jpg"
        alt="A watchtower at the Kalandia checkpoint between Israel and the West Bank"
      />
      <figcaption>
        A watchtower at the Kalandia checkpoint between Israel and the West Bank
      </figcaption>
    </figure>
  </div>

  {% include ramallah-moments-nav.html bottom=true %}
</article>
