<hr/>
<footer>
  <p>
    <a href='#' class="back-to-top">Back to top</a>
  </p>
  <p>
    &copy; 2007&ndash;2023 Gosha Tcherednitchenko<br>
    <a href="/colophon">Colophon</a> ·
    <a href="/accessibility">Accessibility</a> ·
    <a href="https://github.com/goshatch/gosha.net">Source code</a> ·
    <a href="/feed.xml" class="rss-link">
      <span class="link-text">RSS</span>
      {% include rss_logo.svg %}
    </a> ·
    <a href="https://webring.xxiivv.com/#random" target="_blank" class="webring-link">Webring</a> ·
    <a href="https://ko-fi.com/goshadotnet">Support my work on Ko-Fi</a>
  </p>
  <p>
    <a href="http://validator.w3.org/check.cgi?url=https%3A//gosha.net/feed.xml"><img src="/assets/images/valid_atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
  </p>
  {% assign lyric = site.data.lyrics | sample: 1 %}
  <p class="motto">{{ lyric }}</p>
</footer>
