<hr/>
<footer>
  <p>
    <a href='#' class="back-to-top">Back to top</a> ·
    <a href="mailto:gueorgui@possible.space">gueorgui@possible.space</a> ·
    <a rel="me" href="https://merveilles.town/@gueorgui">Merveilles</a> ·
    <a rel="me" href="https://github.com/gueorgui">GitHub</a>
  </p>
  <p>
    &copy; 2007&ndash;2021 Gueorgui Tcherednitchenko<br>
    <a href="/colophon">Colophon</a> ·
    <a href="/feed.xml" class="rss-link">
      <span class="link-text">RSS</span>
      {% include rss_logo.svg %}
    </a> ·
    <a href="https://webring.xxiivv.com/#random" target="_blank" class="webring-link">Webring</a>
  </p>
  <p>
    <a href="https://gueorgui.net">
      <img src="/assets/images/88x31.gif" width="88" height="31" alt="Link free!" title="Link free!" />
    </a>
  </p>
  <p class="motto">
    Через тернии к звёздам
  </p>
</footer>
