.rss-link {
  text-decoration: none;
  .link-text {
    text-decoration: underline;
  }
}

.blog, .projects {
  & > header {
    h1 {
      position: relative;
    }
    .rss-link {
      font-size: 1rem;
      font-weight: normal;
      position: absolute;
      right: 0;
      bottom: 0.3rem;
      color: var(--color-text);
    }
  }
}

/* NOTE: The title on the project page can be quite long, so on a narrow screen
 * it's better for the RSS link to have its own line. */
@media (max-width: 700px) {
  .projects > header .rss-link {
    position: relative;
    display: block;
    margin-top: 1rem;
  }
}

.blog article {
  figure {
    max-width: var(--max-width);
    margin: 0 auto;
    display: block;
    a {
      display: block;
      text-align: center;
    }
  }
  .video {
    max-width: var(--max-width);
    width: 100%;
    margin: 2rem auto;
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow:hidden;
      iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
      }
    }
  }
  hr {
    width: 3rem;
    opacity: 0.5;
  }
  & > p {
    hyphens: auto;
    &:first-child::first-letter {
      font-size: 4rem;
      float: left;
      margin-top: -0.2rem;
      margin-right: 0.3rem;
      font-weight: bold;
      color: var(--color-link);
      line-height: 4rem;
    }
  }
}

.post-card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
  max-width: var(--max-width);
  margin-top: 1rem;

  &.with-image {
    grid-template-columns: auto 6rem;
  }

  .featured-image {
    width: 6rem;
    height: 6rem;
    transform: rotate(5deg);
    text-align: center;
    img {
      height: 100%;
    }
  }
  .contents {
    time {
      font-size: var(--font-small);
      line-height: 1.8;
    }
    header {
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0.5rem;
    }
  }
  &:nth-child(2n) .featured-image { transform: rotate(-4deg) }
  &:nth-child(3n) .featured-image { transform: rotate(2deg) }
  &:nth-child(4n) .featured-image { transform: rotate(-5deg) }
  &:nth-child(5n) .featured-image { transform: rotate(4deg) }
  &:nth-child(6n) .featured-image { transform: rotate(-3deg) }
}

.meta .location {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}

aside.comments {
  margin-top: 4rem;
}
