footer {
  color: var(--color-text-subdued);
  margin: 8vw auto 4vw;
  font-size: var(--font-small);

  .back-to-top {
    padding-left: 1rem;
    margin-left: -1rem;
    position: relative;
    &::before {
      content: '↑';
      position: absolute;
      left: 0;
      top: -2px;
    }
  }

  a {
    color: var(--color-link-subdued);
  }

  .webring-link {
    padding-left: 22px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0 -2px;
    background-image: url('https://webring.xxiivv.com/icon.black.svg');
  }

  .motto {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0.3
  }
}

@media (prefers-color-scheme: dark) {
  footer .webring-link {
    background-image: url('https://webring.xxiivv.com/icon.white.svg');
  }

  html.light footer .webring-link {
    background-image: url('https://webring.xxiivv.com/icon.black.svg');
  }
}

@media (prefers-color-scheme: light) {
  html.dark footer .webring-link {
    background-image: url('https://webring.xxiivv.com/icon.white.svg');
  }
}
