input[type="text"],
input[type="email"] {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color-neutral);
  font-family: var(--font-mono);
  font-size: 1rem;
  background-color: var(--color-neutral);
  color: var(--color-text);
  transition: border-color 0.2s ease-out;
  &:hover {
    border-color: var(--color-text);
  }
}

button,
input[type="submit"],
a.button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  background-color: var(--color-link);
  border: none;
  color: var(--color-bg);
  border-radius: 10rem;
  text-decoration: none;
  margin-right: 0.5rem;
  text-align: center;

  &.secondary {
    background-color: var(--color-emphasis);
    color: var(--color-link);
  }

  &:hover {
    color: var(--color-link-hover);
  }
}

form {
  margin: 2rem auto;

  #mce-responses {
    font-size: var(--font-small);
    margin: 1rem 0;
  }
  #mce-success-response {
    &::before {
      content: "✅";
      position: absolute;
      left: 0;
    }
    position: relative;
    padding-left: 1.3rem;
  }
  #mce-error-response {
    &::before {
      content: "⚠️";
      position: absolute;
      left: 0;
    }
    position: relative;
    padding-left: 1.3rem;
  }
}
