.project-metadata {
  font-family: var(--font-mono);
  font-size: var(--font-x-small);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-left: -0.3rem;

  .metadata-item {
    white-space: nowrap;
    margin-right: 0.5rem;
    background-color: var(--color-emphasis);
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
  }
}

section.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  max-width: 55rem;
  margin: 0 auto;

  figure {
    max-width: 100%;
    max-height: 90vh;
    margin: 0 0 10vh 0;

    &:nth-child(even) {
      text-align: right;
    }
    &:nth-child(odd) {
      text-align: left;
    }
    img {
      max-width: 100%;
      max-height: 90vh;
    }
    &.centered {
      text-align: center;
    }
  }

  &.mini {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    figure {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 450px) {
  section.gallery {
    &.mini {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
  }
}

.long-distance-us section.gallery {
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 4rem;
  padding: 2rem 0;
  max-width: 100%;
  border-radius: 0.3rem;
  figure {
    grid-column: span 2;
    max-height: inherit;
    margin-bottom: 0;
    img {
      max-height: inherit;
    }
    &:nth-last-child(1):nth-child(odd) {
      grid-column: 2 / span 2;
    }
  }
}

.returnees section.gallery figure {
  &:nth-child(even) {
    text-align: center;
  }
  &:nth-child(odd) {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .long-distance-us section.gallery {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    figure {
      grid-column: span 1;
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 1;
      }
    }
  }
}

.full-width-photos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 1rem;
  .photo {
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .full-width-photos {
    display: block;
    .photo {
      margin-bottom: 1rem;
    }
  }
}

.projects-nav {
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    li {
      padding-left: 0;
      display: inline-block;
      line-height: 2rem;
      a {
        padding: 0.5rem 0.3rem;
        border-radius: 2rem;
        &.active {
          padding: 0.5rem 1rem;
          text-decoration: none;
          background-color: var(--color-emphasis);
          color: var(--color-highlight);
        }
      }
    }
  }
}

.projects-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  .project-card {
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--color-text-subdued);

    &::before {
      // This is a hack to make cards square.
      // See this SO answer:
      // https://stackoverflow.com/a/29308459/12288625
      content: "";
      height: 100%;
      float: left;
      display: block;
      padding-top: 100%;
    }
    header {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      margin-right: 1rem;
      background-color: rgba(0, 0, 0, 0.9);
      display: inline-block;
      width: auto;
      padding: 0.5rem 0.7rem;
      border-radius: 0.2rem;

      h3 {
        margin-top: 0;
        color: white;
        transition: color 0.2s ease-out;
      }
      .meta {
        margin-bottom: 0;
      }
    }
    &:hover {
      header h3 {
        color: var(--color-highlight);
      }
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  figure {
    display: block;
    margin: 0px;
  }
}

@media (min-width: 1500px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 481px) and (max-width: 1025px) {
  .projects-grid,
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .projects-grid,
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
