
.project-metadata {
  margin: 0 -1rem 1rem;
  font-family: var(--font-mono);
  font-size: var(--font-small);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .metadata-item {
    margin-right: 1rem;
  }
}

section.gallery {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 55rem;
  margin: 0 auto;

  figure {
    max-width: 100%;
    max-height: 90vh;
    margin: 0 0 10vh 0;

    &:nth-child(even) {
      text-align: right;
    }
    &:nth-child(odd) {
      text-align: left;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.home-photos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem 0;
  .home-photo {
    &:first-child {
      margin-right: 4vw;
    }
    img {
      max-width: 100%;
    }
  }
}
