.double-column {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  .col.gallery figcaption {
    text-align: left;
  }
  .col.sticky {
    position: sticky;
    top: 1rem;
    align-self: flex-start;
  }
  .col.text h1 {
    margin-top: 1rem;
  }
  .col.text hr {
    width: 3rem;
    margin: 2rem auto;
    opacity: 0.5;
  }
  .col.text p:first-child,
  .col.text h2:first-child {
    margin-top: 0px;
  }

  .col * {
    max-width: 100%;
  }
}

.with-sidebar {
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 4rem;

  .col.sidebar section {
    background-color: var(--color-emphasis);
    padding: 1rem;
    border-radius: 0.5rem;

    header {
      h3 {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .double-column,
  .column-sidebar {
    grid-template-columns: 1fr;
    .col.sticky {
      position: unset;
      top: auto;
      align-self: normal;
    }
  }
}
