@mixin dark-colors {
  --color-bg: #161616;
  --color-text: #aaa;
  --color-text-subdued: #888888;
  --color-link: #fff;
  --color-link-subdued: #bbb;
  --color-emphasis: #000000;
  --color-emphasis-reversed: #fff8e0;
}

@mixin light-colors {
  --color-bg: #ffffff;
  --color-text: #444444;
  --color-text-subdued: #666666;
  --color-link: #000000;
  --color-link-subdued: #222;
  --color-emphasis: #fff8e0;
  --color-emphasis-reversed: #000000;
}

:root, :root.light {
  @include light-colors;
  --color-highlight: #c97ae6;
  --color-link-hover: var(--color-highlight);
  --color-emphasis-text: #888;
  --color-neutral: rgba(128, 128, 128, 0.3);
  --max-width: 36rem;
  --font-sans: 'body', sans-serif;
  --font-mono: 'mono', monospace;
  --max-image-width: 50rem;
  --font-small: 0.85rem;
  --font-x-small: 0.65rem;
}

:root.dark {
  @include dark-colors;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-colors;
  }
}

* {
  box-sizing: border-box;
}

html {
  font: 18px/28px var(--font-sans);
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0px;
  .content-container {
    padding: 1vw 4vw 4vw;
    .content {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  > header {
    width: 100%;
    max-width: var(--max-width);
  }
  .home-header {
    font-size: 1.3rem;
  }
}

p, pre, code, ul, ol {
  margin-top: 0px;
}

p, h1, h2, h3, h4, time, blockquote, pre, code, ul, ol, table, aside, .footnotes, .centered {
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

pre, code {
  font-family: var(--font-mono);
}

blockquote {
  border-left: 3px solid var(--color-neutral);
  padding-left: 2rem;
}

blockquote > author {
  display: block;
  margin-top: 0.5rem;
  text-align: right;
}

a {
  color: var(--color-link);
  transition: color .2s ease-out;
}
a:hover {
  color: var(--color-link-hover);
}

.back-to-index-link {
  font-size: 1.5rem;
  text-align: center;
  a {
    position: relative;
    &::before {
      content: '←';
      position: absolute;
      left: -1.8rem;
      top: -0.2rem;
    }
  }
}

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-link);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

ul, ol {
  padding-left: 1rem;
  li {
    padding-left: 0.3rem;
  }
}

hr {
  margin: 3rem auto;
  width: 10rem;
  border: none;
  border-top: 3px solid var(--color-neutral);
}

.emphasis {
  background-color: var(--color-emphasis);
  padding: 0 3px;
  color: var(--color-emphasis-text);
}

span.detail {
  color: var(--color-emphasis-text);
  font-size: var(--font-small);
  font-style: italic;
}

aside {
  padding: 1rem;
  box-sizing: content-box;
  background-color: var(--color-emphasis);
  color: var(--color-emphasis-text);
  border-radius: 0.2rem;
  max-width: var(--max-width);
  margin: 0 -1rem;
}

@media (max-width: 480px) {
  aside {
    margin-left: 0;
    margin-right: 0;
  }
}

.small {
  font-size: var(--font-small);
  color: var(--color-text-subdued);
}

.meta {
  font-size: var(--font-small);
  margin-top: -1rem;
  margin-bottom: 2rem;
}

figure {
  margin: 0px;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: var(--font-small);
    color: var(--color-emphasis-text);
    margin: 0.5rem 0 2rem;
  }
}

main.about {
  figure figcaption {
    text-align: right;
  }
}

section[name='bio'] figure.centered {
  margin-top: -2rem;
}

.centered-box {
  display: block;
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

sup.reference {
  display: inline-block;
  min-width: 0.5rem;
  margin-left: 0.1rem;
  text-align: center;
  a {
    text-decoration: none;
    display: block;
  }
}

section, article {
  width: 100%;
  // max-width: var(--max-width);
  margin: 0 auto;

  header {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }
}

.footnotes {
  font-size: var(--font-small);

  &::before {
    display: block;
    background-color: var(--color-neutral);
    height: 1px;
    width: 6rem;
    content: '';
    margin-top: 8rem;
    margin-bottom: 1rem;
  }
}

.newsletter {
  h1.logo-title {
    background-image: url(/assets/images/newsletter/logo-black.svg);
    display: block;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 10rem;
  }
}

.openbsd {
  text-decoration-color: #CF4229;
  font-family: serif;
  font-weight: bold;
  .open {
    color: #F2CA30;
    font-style: italic;
  }
  .bsd {
    color: #CF4229;
  }
}

ul.task-list {
  padding-left: 0px;

  li.task-list-item {
    list-style: none;
    padding-left: 0px;

    input.task-list-item-checkbox {
      margin-right: 0.5rem;

      &:checked {
        margin-right: 2.5rem;

        &::after {
          content: "Done";
          color: white;
          font-size: x-small;
          background-color: green;
          padding: 0.1em 0.3em;
          margin-left: 1.2rem;
          font-family: var(--font-mono);
          text-transform: uppercase;
          border-radius: 10%;
          vertical-align: top;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .newsletter h1.logo-title {
    background-image: url(/assets/images/newsletter/logo-white.svg);
  }

  html.light .newsletter h1.logo-title {
    background-image: url(/assets/images/newsletter/logo-black.svg);
  }
}

@media (prefers-color-scheme: light) {
  .newsletter h1.logo-title {
    background-image: url(/assets/images/newsletter/logo-black.svg);
  }

  html.dark .newsletter h1.logo-title {
    background-image: url(/assets/images/newsletter/logo-white.svg);
  }
}

@media (max-width: 480px) {
  .hero a {
    font-size: 5rem;
    padding: 6rem 0;
  }
}
