body .content > header {
  margin: 0 auto 2vw;
}

body .content > header h1 a {
  text-decoration: none;
  color: var(--color-highlight);
}

body .content > header > nav > ul {
  max-width: inherit;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  font-family: var(--font-mono);
}

body .content > header > nav > ul > li {
  padding-left: 0;
  display: inline-block;
}

body .content > header > nav > ul > li a {
  text-decoration: none;
  &.nav-item {
    padding: 0.5rem 1.2rem 0.5rem 1rem;
    border-radius: 2rem;
    display: block;
  }
  &.active {
    background-color: var(--color-emphasis);
    color: var(--color-highlight);
  }
}

.dark-mode-toggle {
  button {
    background: var(--color-emphasis);
    border-radius: 2rem;
    padding-bottom: 0.5rem;
  }
  .twa-moon {
    display: none;
  }
  .twa-sun {
    display: inline-block;
  }
}

.light .dark-mode-toggle {
  .twa-moon {
    display: none;
  }
  .twa-sun {
    display: inline-block;
  }
}

.dark .dark-mode-toggle {
  .twa-sun {
    display: none;
  }
  .twa-moon {
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode-toggle {
    .twa-sun {
      display: none;
    }
    .twa-moon {
      display: inline-block;
    }
  }
}

@media (max-width: 480px) {
  body .content > header > nav > ul {
    text-align: left;
    position: relative;
    margin-top: 0;
  }
  body .content > header > nav > ul > li {
    display: block;
    margin-right: 0;
    width: 60%;
  }
  .dark-mode-toggle {
    position: absolute;
    top: 0.1rem;
    right: 0px;
    width: 2.5rem !important;
  }
}
