body .content > header {
  margin: 0 auto 4vw;
}

body .content > header h1 a {
  text-decoration: none;
  color: var(--color-highlight);
}

body .content > header > nav > ul {
  max-width: inherit;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  font-family: var(--font-mono);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--font-small);
}

body .content > header > nav > ul > li {
  padding-left: 0;
}

body .content > header > nav > ul > li a {
  text-decoration: none;
  &.nav-item {
    display: block;
    line-height: 2rem;
    .nav-item-label {
      white-space: nowrap;
    }
  }
  &.active {
    color: var(--color-highlight);
  }
}

.theme-toggle {
  button {
    background: var(--color-emphasis);
    border-radius: 2rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-top: -0.2rem;
  }
  .twa-moon {
    display: none;
  }
  .twa-sun {
    display: inline-block;
  }
  &:hover button {
    background: var(--color-emphasis-reversed);
  }
}

.light .theme-toggle, .dark .theme-toggle:hover {
  .twa-moon {
    display: none;
  }
  .twa-sun {
    display: inline-block;
  }
}

.dark .theme-toggle, .light .theme-toggle:hover {
  .twa-sun {
    display: none;
  }
  .twa-moon {
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  .theme-toggle {
    .twa-sun {
      display: none;
    }
    .twa-moon {
      display: inline-block;
    }
  }
}

@media (max-width: 600px) {
  body .content > header > nav > ul {
    text-align: left;
    flex-wrap: wrap;
    position: relative;
  }
  body .content > header > nav > ul > li {
    display: block;
    margin-right: 0;
    width: 60%;
  }
  body .content > header > nav > ul > li a.nav-item {
    line-height: 1.5rem;
  }
  .theme-toggle {
    position: absolute;
    top: 0.1rem;
    right: 0px;
    width: 2.5rem !important;
  }
}
