section.ukraine-banner {
  background-color: var(--color-emphasis);
  padding: 0.5rem 0;
  font-size: var(--font-small);
  text-align: center;
  .container {
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }
  .link {
    display: inline-block;
    margin-left: 1.6rem;
    position: relative;
    i.twa {
      position: absolute;
      left: -1.6rem;
      top: 0.2rem;
    }
  }
}

@media (max-width: 480px) {
  section.ukraine-banner {
    text-align: left;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
