{% if layout.active %}
  {% assign active = layout.active %}
{% elsif page.active %}
  {% assign active = page.active %}
{% else %}
  {% assign active = "" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <script defer data-domain="gosha.net" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    {% include ukraine.html %}
    <div class="content-container">
      <div class="content">
        {% include navigation.html %}
        <main class="{{ active }} {{ page.slug }}">
          {{ content | safe }}
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
  {% include javascript.html %}
</html>
