<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="profile-pic"><img src="{{ "/assets/profile.png" | relative_url }}" alt="Gueorgui Tcherednitchenko" /></div>
        {{ content }}
        <footer>
          Illustration by <a href="https://twitter.com/tingyilai">@tingyilai</a> ♥︎
        </footer>
      </div>
    </main>

  </body>

</html>
