---
layout: base
active: blog
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <div class="meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%e %B %Y" }}</time>, <span class="location">{{ page.location }}</span>
    </div>
  </header>
  {% if page.rss_only %}
    <aside class="notice">
      {% include rss_logo.svg %} <i class="twa twa-red-heart"></i>
      This post is for RSS subscribers only. <a href="https://daverupert.com/2018/01/welcome-to-rss-club/">Read more about RSS Club</a>.
    </aside>
  {% endif %}
  {{ content }}
</article>
<aside class="comments">
  Have a comment? Please get in touch by <a href="mailto:gueorgui@possible.space?subject=Re: {{ page.title }}">email</a>, or on
  <a href="https://merveilles.town/@gueorgui">Mastodon</a>.
</aside>
