---
layout: base
active: projects
title: Projects
---

<section class="projects-nav">
  <ul>
    <li><a href="/projects"{% if page.active_category == 'all' %} class="active"{% endif %}>All</a></li>
    <li><a href="/projects/bookdesign"{% if page.active_category == 'bookdesign' %} class="active"{% endif %}>Book design</a></li>
    <li><a href="/projects/photography"{% if page.active_category == 'photography' %} class="active"{% endif %}>Photography</a></li>
    <li><a href="/projects/publishing"{% if page.active_category == 'publishing' %} class="active"{% endif %}>Publishing</a></li>
    <li><a href="/projects/software"{% if page.active_category == 'software' %} class="active"{% endif %}>Software</a></li>
    <li><a href="/projects/writing"{% if page.active_category == 'writing' %} class="active"{% endif %}>Writing</a></li>
  </ul>
</section>

<header>
  <h1>
    {% if page.active_category == 'all' %}All{% endif %}
    {% if page.active_category == 'bookdesign' %}Book design{% endif %}
    {% if page.active_category == 'photography' %}Photography{% endif %}
    {% if page.active_category == 'publishing' %}Publishing{% endif %}
    {% if page.active_category == 'software' %}Software{% endif %}
    {% if page.active_category == 'writing' %}Writing{% endif %}
    projects
    <a href="/projects/feed.xml" class="rss-link">
      <span class="link-text">Subscribe via RSS</span>
      {% include rss_logo.svg %}
    </a>
  </h1>
</header>

{% if page.active_category == 'bookdesign' %}
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Book design'" %}
{% elsif page.active_category == 'photography' %}
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Photography'" %}
{% elsif page.active_category == 'publishing' %}
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Publishing'" %}
{% elsif page.active_category == 'software' %}
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Software'" %}
{% elsif page.active_category == 'writing' %}
  {% assign filtered_projects = site.projects | where_exp: "project", "project.categories contains 'Writing'" %}
{% else %}
  {% assign filtered_projects = site.projects %}
{% endif %}

{% if filtered_projects.size > 0 %}
<section class="projects-grid">
  {% assign sorted_projects = filtered_projects | sort: 'date' | reverse %}
  {% for project in sorted_projects %}
    <a class="project-card" style="background-image: url('{{ project.featured_image }}')" href="{{ project.url }}">
      <header>
        <h3>{{ project.title }}</h3>
        <p class="meta">{{ project.timespan }}</p>
      </header>
    </a>
  {% endfor %}
</section>
{% else %}
<hr/>
<section>
  <header>
    <h3>Nothing here yet! <i class="twa twa-grinning-face-with-sweat"></i></h3>
  </header>
  <p>I'm still working on adding projects. Please check back later!</p>
</section>
{% endif %}
